[submodule "site/plugins/relative-date"]
	path = site/plugins/relative-date
	url = https://github.com/distantnative/relative-date
[submodule "site/fields/markdown"]
	path = site/fields/markdown
	url = https://github.com/JonasDoebertin/kirby-visual-markdown
[submodule "site/fields/selector"]
	path = site/fields/selector
	url = https://github.com/storypioneers/kirby-selector
[submodule "site/plugins/footnotes"]
	path = site/plugins/footnotes
	url = https://github.com/distantnative/footnotes
[submodule "vendors/pace"]
	path = vendors/pace
	url = https://github.com/HubSpot/pace
[submodule "site/plugins/webmentions"]
	path = site/plugins/webmentions
	url = https://github.com/bastianallgeier/kirby-webmentions
[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby
[submodule "panel"]
	path = panel
	url = https://github.com/getkirby/panel.git
