.cover {
  @media screen and (max-width: $responsive-max + 500) {
    padding-top: 40px;
  }
  @include background-size(cover !important);
  background-repeat: no-repeat;
  background-position: center 30%;
  text-align: center;
  //background-attachment: fixed;

  .content-wrap {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 40px;
  }

  hr {
    display: none;
  }

  h1 {
    color: white;
    text-shadow: 0 0 20px #000;
    font-size: 4.5rem;
    line-height: 1.4;
    @media screen and (max-width: $responsive-small) {
      font-size: 4rem;
    }
  }
  .subline {
    font-size: 3rem;
    font-weight: normal;
    color: white;
    text-shadow: 0 0 20px #000;
  }
}

body:not(.with-children) .cover {
  margin-bottom: $grid-padding;
}

.no-cover .cover {
  margin-bottom: 0;
  hr {
    top: 50px;
    position: relative;
    display: block;
    z-index: 1;
    background-color: $grey-300;
    @media screen and (max-width: $responsive-small) {
      top: 50px;
    }
  }

  h1 {
    color: $black;
    text-shadow: none;
    margin: 0;
    padding: 0;
    span {
      background: white;
      position: relative;
      padding: 5px;
      z-index: 2;
    }
  }
  .subline {
    color: $black;
    text-shadow: none;
  }
  @media screen and (max-width: $responsive-small) {

    h1 span {
      padding: 5px;
    }

  }
}