.page-header {

  border-bottom: 1px solid $grey-300;
  margin-bottom: $grid-padding;
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
    margin-top: 0;

    &.beon span{
      font-family: "Beon";
    }
    &.lato span{
      font-family: "Lato";
    }
    &.dancing-script span{
      font-family: "Dancing Script";
    }
    &.fira-sans span{
      font-family: "Fira Sans";
    }
    &.helvetia-verbundene span{
      font-family: "Helvetia Verbundene";
    }
    &.kaushan-script  span{
      font-family: "Kaushan Script";
    }
    &.medio  span{
      font-family: "Medio";
    }
    &.ocra  span{
      font-family: "OCRA";
    }
    &.osifont  span{
      font-family: "Osifont";
    }
    &.pt-sans-caption  span{
      font-family: "PT Sans Caption";
    }
    &.pressuru  span{
      font-family: "Pressuru";
    }
    &.raleway  span{
      font-family: "Raleway";
    }
    &.roboto-mono  span{
      font-family: "Roboto Mono";
    }
    &.simple-print span{
      font-family: "Simple Print";
    }
    &.tgl  span{
      font-family: "TGL";
    }
    &.unna  span{
      font-family: "Unna";
    }
    &.victors  span{
      font-family: "Victors";
    }
  }

   @media screen and (max-width: $responsive-medium) {
    border-bottom: none;
   }

  h1 {
    @include hyphens(auto);
    @media screen and (max-width: $responsive-small) {
      padding-left: 0;
      font-size: 2.6rem !important;
    }
    @media screen and (min-width: $responsive-small) and (max-width: $responsive-medium) { 
      font-size: 2.7rem !important;
    }
  }
}