#home {
  .page-header {
    border-bottom: 1px solid $grey-300;
    margin-bottom: 80px;
    padding-bottom: 40px;
    .avatar {
      position: absolute;
      height: 100px;
      width: 100px;
      margin-top: -10px;
      left: 50%;
      margin-left: -45px;
      overflow: hidden;
      @include border-radius(50%);
      padding: 3px;
      background: $site-bg;
      border: 1px solid $grey-300;
      img {
        @include border-radius(50%);
      }
    }
  }
  header {
    .blinkingcursor {
      background: $normal;
      width: 3px;
      position: absolute;
      height: 50px;
      @include animation(blink .6s step-end infinite alternate);
    }
    h1 {
      padding-left: 0;
    }
  }
}
