body {
  padding-top: $grid-padding;
  background: #f9f9f9;


  .page-header {
    border-bottom: 1px solid $grey-300;
    margin-bottom: $grid-padding;
    h1 {
      text-align: center;
      font-size: 6rem;
      font-weight: lighter;
      margin-top: 0;

      &.beon span{
        font-family: "Beon";
      }
      &.dancing-script span{
        font-family: "Dancing Script";
      }
      &.fira-sans span{
        font-family: "Fira Sans";
      }
      &.helvetia-verbundene span{
        font-family: "Helvetia Verbundene";
      }
      &.kaushan-script  span{
        font-family: "Kaushan Script";
      }
      &.medio  span{
        font-family: "Medio";
      }
      &.ocra  span{
        font-family: "OCRA";
      }
      &.osifont  span{
        font-family: "Osifont";
      }
      &.pt-sans-caption  span{
        font-family: "PT Sans Caption";
      }
      &.pressuru  span{
        font-family: "Pressuru";
      }
      &.raleway  span{
        font-family: "Raleway";
      }
      &.roboto-mono  span{
        font-family: "Roboto Mono";
      }
      &.simple-print span{
        font-family: "Simple Print";
      }
      &.tgl  span{
        font-family: "TGL";
      }
      &.unna  span{
        font-family: "Unna";
      }
      &.victors  span{
        font-family: "Victors";
      }
    }
  }
}