#header {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: $grid-padding/2;
  padding-right: $grid-padding/2;
  min-height: 45px;
  background: rgba(0,0,0,0.8);

  @include transition(all 0.3s ease-out);

  a {
    text-decoration: none;
    line-height: 1;
    color: white;
  }
  svg {
    margin-top: 2px;
  }
  .banner {
    display: block;
    position: absolute;
    @include transition(all 0.4s ease-in-out);
  }

  &:not(.on-top) {
    .banner svg path {
      fill: white;
      stroke: white;
    }
  }

  &.on-top {
    background: rgba(0,0,0,0.1);
    border-bottom: none;

    .banner {
      svg path {
        fill: white;
        stroke: white;
      }
    }
  }

  &.hide-header {
    @include transform(translateY(-100%));
  }

  #mainnav-toggle {

    $toggle-lineSize: 2px;
    $toggle-height: 25px;
    $toggle-width: 30px;
    $toggle-color: #fff;




    display: block;
    position: absolute;
    right: $grid-padding/2;
    top: 10px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: $toggle-width;
    height: $toggle-height;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    @include transition(top 0.4s ease-in-out);
    &:focus {
      outline: none;
    }

    span {
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -($toggle-lineSize/2);
      left: 16%;
      right: 16%;
      height: $toggle-lineSize;
      background: $toggle-color;

      @include transition(background 0.2s);

      &:before,
      &:after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: $toggle-lineSize;
        background-color: $toggle-color;
        content: "";
        @include transition-duration(0.2s, 0.2s);
        @include transition-delay(0.2s, 0);
      }
      
      &:before {
        top: -($toggle-height*.28);
        -webkit-transition-property: top, -webkit-transform;
                transition-property: top, transform;
      }

      &:after {
        bottom: -($toggle-height*.28);
        -webkit-transition-property: bottom, -webkit-transform;
                transition-property: bottom, transform;
      }
    }

    &.active {
      span {
        background: none !important;
        &:before,
        &:after {
          -webkit-transition-delay: 0, 0.2s;
                  transition-delay: 0, 0.2s;
        }

        &:before {
          top: 0;
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
        }
        &:after {
          bottom: 0;
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
        }
      }
    }
  }

  @media screen and (min-width: $responsive-small) {
    #mainnav-toggle {
      display: none;
    }
    .banner {
      display: block !important;
    }
    ul {
      display: block !important;
    }
  }
}

.no-cover #header {
  @media screen and (min-width: $responsive-max + 500) {
    background: none !important;
    a {
      color: $black;
    }
    .banner svg path {
      fill: $black;
      stroke: $black;
    }
  }
  &.on-top {
    background: none;
    a {
      color: $black !important;
    }
    .banner svg path {
      fill: $black;
      stroke: $black;
    }
    #mainnav-toggle {
      $toggle-color: #000;

      span, span:before, span:after {
        background: $toggle-color;
      }
    }
  }
}