blockquote, .blockquote {
  // Standard definition
  margin: 1.75em 0 1.75em (-$grid-padding/2.5);
  padding: 0 0 0 $grid-padding/2.5;
  display: block;
  font-weight: normal;

  border-left: 3px $black solid;
  color: $black;
  
  p:first-child, p:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin: 0.8em 0;
  }
  
  p, q {
    //font-style: italic;
  }
  
  footer {
    color: $grey-600;
    display: block;
    position: relative;
    margin-top: 1rem;
    p {
      margin-left: 18px;
      margin-bottom: 0;
      font-family: $body-font-family;
      font-weight: 300;
      font-size: 1.1rem;
      &:before {
        content: "— ";
        position: absolute;
        margin-left: -18px;
      }
    }
  }

  @media only screen and (max-width: $max-width + $grid-padding*2) {
    margin-left: 0;
  }
}