form {
}

.form-group {
  margin-bottom: 15px;
}

.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  input {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.form-horizontal .form-group {
  @extend .row;
}

.form-group {
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    
    &.control-label {
      padding-top: 9px;
      margin-bottom: 0;
      text-align: right;
    }
  }
}